{{ if .Site.Params.favicon }}
	<link rel="shortcut icon" href="{{ relURL ($.Site.Params.favicon) }}" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{ relURL ($.Site.Params.faviconApple) }}" sizes="180x180" type="image/png" />
	<link rel="icon" href="{{ relURL ($.Site.Params.favicon32) }}" sizes="32x32" type="image/png" />
	<link rel="icon" href="{{ relURL ($.Site.Params.favicon16) }}" sizes="16x16" type="image/png" />
	<link rel="manifest" href="{{ relURL ($.Site.Params.webmanifest) }}">
{{ end }}
